.contact_form{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 20px;
    /* margin-top: -35px; */
    padding-left: 50px;
}
.contact_form h1{
    font-size: 30px;
}
.foot_left
{
    padding-left: 50ox;
    width: 100%;
}
.foot_left span{
    margin-left: 70px;
    line-height: 30px;
}