html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-image: linear-gradient(180deg, rgba(0,1,1,1) 0%, rgba(0,73,66,1) 36.14%, rgba(0,73,66,1) 79.66%, rgba(0,0,0,1) 100%);;
    /* background-image: linear-gradient(#000201,#004942, #004942,#004942,#000000); */
    /* background-color: #292c2f; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset */
.loader-wrapper>svg{
  height: 25vh;
  position: absolute;
  top: 35vh;
  left: 40vw;

}









.header{
    border-bottom: 1px solid #385c58;
    height: 130px;
    width: 100%;
    /* margin-bottom: 10px; */
    font-family: 'Tw Cen MT';
    z-index: 10;
}
.header img{
  height: 320px;
  margin: -90px -50px;
}
.heads{
    float: right;
}
.head{
    display: inline-block;
    /* float: right; */
    color: white;
    /* font: Regular 39px/42px Tw Cen MT; */
    /* font-family: 'Merriweather', serif; */
    /* width: 125px; */
    font-size: 25px;
    /* font-weight: bold; */
    /* margin-top: 2vh; */
    line-height: 125px;
    margin: 0 30px;
}
.head a{
    color: white;
    text-decoration: none;
}
.sticky {
  background-image: linear-gradient( rgba(41, 44, 47,1), rgba(41, 44, 47,0.4));
  /* background-image: #292c2f; */
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.loader-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #39b49a;
  z-index: 10;
}
.loader-wrapper>img{
  position: absolute;
  top: 20vh;
  left: 25vw;
}
.loader-wrapper>svg,
.loader-wrapper>svg:focus {
	/* -webkit-animation-name: spaceboots;
	-webkit-animation-duration: 10s;
	-webkit-transform-origin:100% 100%;
	-webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; */
  -webkit-animation: rotation 2s infinite linear;
}
.ring{
  border: 16px solid #7c7272;
  border-radius: 50%;
  border-top: 16px solid #292c2f;
  border-bottom: 16px solid #292c2f;
  width: 150px;
  height: 150px;
  -webkit-animation: rotation 1.6s linear infinite;
  animation: rotation 1.6s linear infinite;
  position: absolute;
  top: 40vh;
  left: 42vw;
  
}




.main-container{
    /* border: 1px solid #9999ff; */
    /* height: 90vh; */
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.update_info{
  height: 240px;
  margin-top: 2vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: row;
}
.update_info .content_left{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.content_down{
  display: flex;
  flex-direction: row;
}
.content_down h1{
  font-size: 28px !important;
}
.content_down span{
  font-size: 40px;
  color: white;
}
.cd{
  text-align: center;
  margin: 3vw;
}
.content_right{
  width: 40%;
  height: 100%;
}
.update_info h1{
  color: white;
  font-size: 24px;
}
.update_info p{
  color: white;
  /* font-size: 24px; */
}
#india_map{
    height: 100%;
    width: 50vw;
    /* padding-left: 5vw;    */
    display: flex;
    margin-top: 5vh;
}
.rightdownbox{
  width: 49vw;
  /* display: flex; */
  /* margin-left: -1vw; */
  /* background-color: #222222; */
}
.svg{
    /* height: 100%; */
    max-width: 760px;
    min-width: 40vw;
    fill: white;
    margin-top: 10vh;
    margin-left: -15vw;
    scale: 1.18;
    margin-bottom: 5vh;
}
svg#India_Map{
    height: 100%;
    width: 100%;
}
.current_stats{
    height: 60vh;
    margin-top: 15vh;
    min-width: 20vw;
    width: 100%;
    font-family: 'Merriweather', serif;
    /* border: 1px solid black; */
    /* background-color: #292c2f; */
    padding: 0 2vw;
    /* overflow: hidden; */
}
.updatebox{
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 10vh;
    /* background-color: darkblue; */
}
.updatebox h1{
   font-size: 16px;
   font-weight: bold;
   /* color: black; */
   /* margin-bottom: 10vh; */
   margin-top: 2vh;
}
.beta{
    border: 1px solid #9299a0;
    /* margin: 10px; */
    padding-top: 15px;
    text-align: center;
    /* background-color: white; */
    height: 10vh;
}
.beta p{
  margin-top: 1vh;
  font-size: 30px;
}
.shad{
    background-color: white;
    margin: 10px;
}
.rightbox{
  width: 30vw;
  border: 1px solid #385c58;
    
    /* background-color: #222222; */
    /* border-left: 1px solid #9999ff; */
}
.mySlides {
  display: flex;
  flex-direction: row;
    position: relative;
    width: 94%;
    padding-left: 3%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 50%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .mySlides:hover .image {
    opacity: 0.3;
  }
  
  .mySlides:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
.heading-container {
    text-align: center;
    /* background-color: #222; */
    padding: 2px 16px;
    color: white;
    height: 5vh;
    font-size: 25px;
    line-height: 5vh;
}
.mySlides{
    height: 18.6vh;
    margin: 1vh 0;
}
.newscontent{
  color: white;
  padding: 10px;
  width: 100%;
  line-height: 2.5vh;
}
.mySlides>img{
    height: 100%;
}
.prev,.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
}
.next-container{
        text-align: center;
        /* background-color: #222; */
        padding: 2px 16px;
        color: white;
        height: 3vh;
        font-size: 25px;
        line-height: 3vh;
        margin-bottom: 1px;
}
.footer{
  border-top: 1px solid #385c58;
    /* height: 5vh; */
    width: 100%;
    overflow: hidden;
    color: white;
    /* margin-top: 10vh; */
}
.footer-left{
  display: flex;
  flex-direction: row;
}
.logo_footer{
  width: 35%;
}
.page_count{
width: 30%;
font-size: 28px;
text-align: center;
padding-top: 20px;
}
.page_count>span{
  font-size: 40px;
}
.contact_form{
width: 35%;
}
.footer-distributed {
    /* background-color: #292c2f; */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    /* background-color: #33383b; */
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
 /* animation part */


 @-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(200px, 10px) rotate(0deg); }
	10% { -webkit-transform: translate(-10px, -200px) rotate(-10deg); }
	20% { -webkit-transform: translate(-300px, 0px) rotate(10deg); }
	30% { -webkit-transform: translate(0px, 200px) rotate(0deg); }
	40% { -webkit-transform: translate(10px, -10px) rotate(10deg); }
	50% { -webkit-transform: translate(-10px, 200px) rotate(-10deg); }
	60% { -webkit-transform: translate(-300px, -10px) rotate(0deg); }
	70% { -webkit-transform: translate(20px, 10px) rotate(-10deg); }
	80% { -webkit-transform: translate(-100px, -10px) rotate(10deg); }
	90% { -webkit-transform: translate(20px, 200px) rotate(0deg); }
	100% { -webkit-transform: translate(200px, 10px) rotate(0deg); }
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}