.main_container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftdownbox{
    width: 50%;
    height: 100%;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 22px;
}
.leftdownbox h1{
    margin-top: 10vh;
    text-decoration: underline;
    margin-left: 5vw;
    font-size: 40px;
}
.leftdownbox h2{
    margin-left: 10vw;
    margin-top: 7vh;
    font-size: 25px;
}
.leftdownbox h3{
    margin-left: 12vw;
    margin-top: 2vh;
    font-family: 'Iceland', cursive;
    font-size: 50px;
}
.india_map{
    width: 50%;
    height: 100%;
}
.svg{
    scale: 1;
    margin-top: 7vh;
    fill: #0D130F;
    stroke: #385c58;
    margin-left: -2vw;
}
.infobox{
    border: 2px solid black;
    height: 200px;
    width: 400px;
    background-color: black;
    color: white;
    display: none;
    position: absolute;
    top: 132px;
    right: 57px;
    border-radius: 20px;
    flex-direction: column;
}
.state_name{
    /* height: 4vh; */
    padding: 26px;
}
.information{
    height: 26vh;
    display: flex;
    flex-direction: row;
}
.helpline_numbers,.isolation_zones{
    width: 100%;
    padding: 0px 24px;

}
.state_name span{
display: none;
}
.helpline_numbers span{
    display: none;
}
.helpline_numbers li,.isolation_zones li{

    margin-left: 10px;

}
@media only screen and (max-height: 670px) {
    .svg{
        transform: scale(0.7) !important;
        margin-top: -12vh;
    }
}

/*----------------------mobile responsive---------------------*/
@media only screen and (max-width: 600px) {
.main-container{
    display: block;
}
.svg{
    transform: scale(0.5 0.6) !important;
    margin-top: -10vh;
    margin-left: -12vw;
}
.leftdownbox{
    text-align: center !important;
    width: 100vw !important;
}
.leftdownbox h1{
    margin-top: 14vh;
    font-size: 20px;
}
.leftdownbox h2{
    margin-left: 0 !important;
    margin-top: 5vh !important;
    font-size: 18px;
}
.leftdownbox h3{
    margin-left: 0 !important;
    font-size: 40px;
}
.infobox{
    top: 70vh !important;
    right: 0 !important;
    z-index: 1;
}


}