<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>#FIGHTCOVID-19</title>
        <link rel="stylesheet" href="../static/css/covid.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/facts.css">
        <link rel="stylesheet" href="../static/css/header.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Iceland&display=swap" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <!--=========================header========================================-->
        <div class="loader-wrapper">
            <img src="../static/media/load_new.gif" />
        </div>
        
        
        <div class="nav header" id="myHeader">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <img src="../static/media/logo.png" alt="">
            </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
           
            <div class="nav-links heads">
                <div class="head"><a href="../index.html" >Home</a></div>
                <div class="head"  id="newsyo" style="display: none;"><a href="news.html">News</a></div>
                <div class="head"><a href="helpline.html" >Helpline</a></div>
                <div class="head"><a href="facts.html" >Awareness</a></div>
                <div class="head"><a href="faq.html" >FAQs</a></div>
                <div class="head"><a href="sources.html" >Sources</a></div>
                <!-- <div class="head"><a href="faq.html" >FAQ</a></div> -->
            </div>
          </div>
        <!-- ========================main-body==================================== -->
        <div class="main-container">
            <div class="upper">
                <div class="container">
                    <!-- <h2 style="text-align:center">Physical Distancing</h2> -->
    
                <div class="mySlideshow">
                    <!-- <div class="numbertext">1 / 6</div> -->
                    <img src="../static/media/physical_distancing/25-03-formal1.png" style="width:100%">
                </div>
    
                <div class="mySlideshow">
                    <!-- <div class="numbertext">2 / 6</div> -->
                    <img src="../static/media/physical_distancing/25-03-formal2.png" style="width:100%">
                </div>
    
                <div class="mySlideshow">
                    <!-- <div class="numbertext">3 / 6</div> -->
                    <img src="../static/media/physical_distancing/25-03-formal3.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow">
                    <!-- <div class="numbertext">4 / 6</div> -->
                    <img src="../static/media/physical_distancing/25-03-formal4.png" style="width:100%">
                </div>
    
                    
                <a class="previous" onclick="plusSlides(-1)">❮</a>
                <a class="nextone" onclick="plusSlides(1)">❯</a>
    
                <!-- <div class="caption-container">
                    <p id="caption"></p>
                </div> -->
    
                <div class="row">
                    <div class="column1">
                    <img class="demo cursor" src="../static/media/physical_distancing/25-03-formal1.png" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="column1">
                    <img class="demo cursor" src="../static/media/physical_distancing/25-03-formal2.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column1">
                    <img class="demo cursor" src="../static/media/physical_distancing/25-03-formal3.png" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column1">
                    <img class="demo cursor" src="../static/media/physical_distancing/25-03-formal4.png" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                </div>
                </div>
                <div class="container">
                    <!-- <h2 style="text-align:center">Slideshow Gallery</h2> -->
    
                <div class="mySlideshow2">
                    <!-- <div class="numbertext">1 / 6</div> -->
                    <img src="../static/media/Difference/1.png" style="width:100%">
                </div>
    
                <div class="mySlideshow2">
                    <!-- <div class="numbertext">2 / 6</div> -->
                    <img src="../static/media/Difference/2.png" style="width:100%">
                </div>
    
                <div class="mySlideshow2">
                    <!-- <div class="numbertext">3 / 6</div> -->
                    <img src="../static/media/Difference/3.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow2">
                    <!-- <div class="numbertext">4 / 6</div> -->
                    <img src="../static/media/Difference/4.png" style="width:100%">
                </div>
                    
                <a class="previous" onclick="plusSlides2(-1)">❮</a>
                <a class="nextone" onclick="plusSlides2(1)">❯</a>
    
                <!-- <div class="caption-container">
                    <p id="caption2"></p>
                </div> -->
    
                <div class="row">
                    <div class="column1">
                    <img class="demo2 cursor" src="../static/media/Difference/1.png" style="width:100%" onclick="currentSlide2(1)" alt="The Woods">
                    </div>
                    <div class="column1">
                    <img class="demo2 cursor" src="../static/media/Difference/2.png" style="width:100%" onclick="currentSlide2(2)" alt="Cinque Terre">
                    </div>
                    <div class="column1">
                    <img class="demo2 cursor" src="../static/media/Difference/3.png" style="width:100%" onclick="currentSlide2(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column1">
                    <img class="demo2 cursor" src="../static/media/Difference/4.png" style="width:100%" onclick="currentSlide2(4)" alt="Northern Lights">
                    </div>
                </div>
                </div>
                <div class="container">
                    <!-- <h2 style="text-align:center">Slideshow Gallery</h2> -->
    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">1 / 6</div> -->
                    <img src="../static/media/Children/1.png" style="width:100%">
                </div>
    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">2 / 6</div> -->
                    <img src="../static/media/Children/2.png" style="width:100%">
                </div>
    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">3 / 6</div> -->
                    <img src="../static/media/Children/3.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">4 / 6</div> -->
                    <img src="../static/media/Children/4.png" style="width:100%">
                </div>
    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">5 / 6</div> -->
                    <img src="../static/media/Children/5.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/Children/6.png" style="width:100%">
                </div>
                <div class="mySlideshow3">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/Children/7.png" style="width:100%">
                </div>
                    
                <a class="previous" onclick="plusSlides3(-1)">❮</a>
                <a class="nextone" onclick="plusSlides3(1)">❯</a>
    
                <!-- <div class="caption-container">
                    <p id="caption3"></p>
                </div> -->
    
                <div class="row">
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/1.png" style="width:100%" onclick="currentSlide3(1)" alt="The Woods">
                    </div>
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/2.png" style="width:100%" onclick="currentSlide3(2)" alt="Cinque Terre">
                    </div>
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/3.png" style="width:100%" onclick="currentSlide3(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/4.png" style="width:100%" onclick="currentSlide3(4)" alt="Northern Lights">
                    </div>
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/5.png" style="width:100%" onclick="currentSlide3(5)" alt="Nature and sunrise">
                    </div>    
                    <div class="column2">
                    <img class="demo3 cursor" src="../static/media/Children/6.png" style="width:100%" onclick="currentSlide3(6)" alt="Snowy Mountains">
                    </div>
                    <div class="column2">
                        <img class="demo3 cursor" src="../static/media/Children/7.png" style="width:100%" onclick="currentSlide3(7)" alt="Snowy Mountains">
                        </div>
                </div>
                </div>
            </div>
            <div class="lower">

                <div class="container">
                    <!-- <h2 style="text-align:center">Managing Stress</h2> -->
    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">1 / 6</div> -->
                    <img src="../static/media/managing_stress/1.png" style="width:100%">
                </div>
    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">2 / 6</div> -->
                    <img src="../static/media/managing_stress/2.png" style="width:100%">
                </div>
    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">3 / 6</div> -->
                    <img src="../static/media/managing_stress/3.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">4 / 6</div> -->
                    <img src="../static/media/managing_stress/4.png" style="width:100%">
                </div>
    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">5 / 6</div> -->
                    <img src="../static/media/managing_stress/5.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow1">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/managing_stress/6.png" style="width:100%">
                </div>
                    
                <a class="previous" onclick="plusSlides1(-1)">❮</a>
                <a class="nextone" onclick="plusSlides1(1)">❯</a>
    
                <!-- <div class="caption-container">
                    <p id="caption1"></p>
                </div> -->
    
                <div class="row">
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/1.png" style="width:100%" onclick="currentSlide1(1)" alt="The Woods">
                    </div>
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/2.png" style="width:100%" onclick="currentSlide1(2)" alt="Cinque Terre">
                    </div>
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/3.png" style="width:100%" onclick="currentSlide1(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/4.png" style="width:100%" onclick="currentSlide1(4)" alt="Northern Lights">
                    </div>
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/5.png" style="width:100%" onclick="currentSlide1(5)" alt="Nature and sunrise">
                    </div>    
                    <div class="column">
                    <img class="demo1 cursor" src="../static/media/managing_stress/6.png" style="width:100%" onclick="currentSlide1(6)" alt="Snowy Mountains">
                    </div>
                </div>
                </div>
                <div class="container">
                    <!-- <h2 style="text-align:center">Slideshow Gallery</h2> -->
    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">1 / 6</div> -->
                    <img src="../static/media/7_steps/1.png" style="width:100%">
                </div>
    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">2 / 6</div> -->
                    <img src="../static/media/7_steps/2.png" style="width:100%">
                </div>
    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">3 / 6</div> -->
                    <img src="../static/media/7_steps/3.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">4 / 6</div> -->
                    <img src="../static/media/7_steps/4.png" style="width:100%">
                </div>
    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">5 / 6</div> -->
                    <img src="../static/media/7_steps/5.png" style="width:100%">
                </div>
                    
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/7_steps/6.png" style="width:100%">
                </div>
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/7_steps/7.png" style="width:100%">
                </div>
                <div class="mySlideshow4">
                    <!-- <div class="numbertext">6 / 6</div> -->
                    <img src="../static/media/7_steps/8.png" style="width:100%">
                </div>
                    
                <a class="previous" onclick="plusSlides4(-1)">❮</a>
                <a class="nextone" onclick="plusSlides4(1)">❯</a>
    
                <!-- <div class="caption-container">
                    <p id="caption4"></p>
                </div> -->
    
                <div class="row">
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/1.png" style="width:100%" onclick="currentSlide4(1)" alt="The Woods">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/2.png" style="width:100%" onclick="currentSlide4(2)" alt="Cinque Terre">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/3.png" style="width:100%" onclick="currentSlide4(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/4.png" style="width:100%" onclick="currentSlide4(4)" alt="Northern Lights">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/5.png" style="width:100%" onclick="currentSlide4(5)" alt="Nature and sunrise">
                    </div>    
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/6.png" style="width:100%" onclick="currentSlide4(6)" alt="Snowy Mountains">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/7.png" style="width:100%" onclick="currentSlide4(7)" alt="Snowy Mountains">
                    </div>
                    <div class="column3">
                    <img class="demo4 cursor" src="../static/media/7_steps/8.png" style="width:100%" onclick="currentSlide4(8)" alt="Snowy Mountains">
                    </div>
                </div>
                </div>
            </div>
            

        </div>

        <!-- ========================footer======================================= -->
        <div class="footer" style="height: 200px;">
            <footer class="footer-distributed">
    
                <div class="footer-left">
                    <div class="logo_footer" style="border-right: 1px solid #385c58;"><img src="../static/media/logo.png" alt=""style="height: 380px;
                        margin: -140px -50px;">
                    <p>LocAid &copy; 2020</p>
                    </div>
                    <div class="page_count" style="border-right: 1px solid #385c58;">
                        <h1>Total Views</h1><span id="viewcount"></span>
                    </div>
                    <div class="contact_form">
                       <div class="foot_left">
                           <h1>Contact Us:</h1><br>
                           <span> Email:   Locaidindia@gmail.com </span><br>
                           <!-- <span> Office Address: Pilani, Rajasthan -->
                            </span>
                            <div class="footer-social">
                            <ul>
                              <li>
                                <a href="https://www.facebook.com/covid19.locaid/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="24" height="24" alt="Like us on Facebook" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png">
                                </a>
                              </li>
                              <li>
                                <a target="_blank" href="http://instagram.com/covid19.locaid/">
                                  <img width="24" height="24" alt="Follow us on Instagram" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png">
                                </a>
                              </li>
                              <li>
                                <a href="https://www.twitter.com/Covid19_locAID" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="67" alt="Follow us on Twitter" src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png">
                                </a>
                              </li>
                            </ul>
                          </div>
                       </div>
                    </div>
                    
                </div>
    
            </footer>
        </div>
     /body>
     <script src="../static/js/covid.js"></script>
     <script src="../static/js/facts.js"></script>
</html>
