<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>#FIGHTCOVID-19</title>
        <link rel="stylesheet" href="../static/css/covid.css">
        <link rel="stylesheet" href="../static/css/graph.css">
        <link rel="stylesheet" href="../static/css/news.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/map.css">
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Iceland&display=swap" rel="stylesheet">   
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
<!--         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
        -->
        <!--=========================header========================================-->
        <div class="loader-wrapper">
            <img id= "LoadCheck"src="../static/media/load_new.gif" />
        </div>
        
        <div class="nav header" id="myHeader">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <img src="../static/media/logo.png" alt="">
            </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links heads">
                <div class="head"><a href="../index.html" >Home</a></div>
                <div class="head" id="newsyo" style="display: none;"><a href="news.html" >News</a></div>
                <div class="head"><a href="helpline.html" >Helpline</a></div>
                <div class="head"><a href="facts.html" >Awareness</a></div>
                <div class="head"><a href="faq.html" >FAQs</a></div>
                <div class="head"><a href="sources.html" >Sources</a></div>
                <!-- <div class="head"><a href="templates/faq.html" >FAQ</a></div> -->
              
            </div>
          </div>
        <!-- <div class="header" id="myHeader">
            <img src="static/media/logo.png" alt="">
            <div class="heads">
                <div class="head"><a href="index.html">Home</a></div>
                <div class="head"><a href="templates/helpline.html">Helpline</a></div>
                <div class="head" style="margin-right: 50px;"><a href="templates/facts.html">Awareness</a></div>
            </div>
            <i class="fa fa-bars"></i>
        </div> -->
        <!-- ========================main-body==================================== -->
        <div class="main-container">   
           
            <div class="rightbox">
                <div class="heading-container">
                    <h2 style="text-align:center">Latest Updates</h2>
                </div>

                    <div class="container">
                        <div class="group cont1">
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link"href="#"><img src="../static/media/img_woods_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link"href="#"><img src="../static/media/img_5terre_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link"href="#"><img src="../static/media/img_lights_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link"href="#"><img src="../static/media/img_woods_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_woods_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_lights_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_5terre_wide.jpg" class="image" style="width:100%">
                                        </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            
                        </div>
                        <div class="group cont2">
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_woods_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_5terre_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_lights_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_lights_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_woods_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_lights_wide.jpg" class="image" style="width:100%">
                                        
                                    </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            <div class="mySlides">
                                <div class="newspic">
                                    <a class ="link" href="#"><img src="../static/media/img_5terre_wide.jpg" class="image" style="width:100%">
                                        </a>
                                </div>
                                <div class="newscontent">
                                    the text comes here the text comes here the text comes here the text comes herethe text comes here the text comes here
                                </div>
                                
                            </div>
    
                            
                        </div>
                        <div class="next-container">
                            <a class="prev" onclick="plusSlides(-1)"> < </a>
                            <a class="next" onclick="plusSlides(1)"> > </a>
                        </div>                        
                    </div>

            </div>
        </div>

        
      
        <!-- ========================footer======================================= -->
        <div class="footer" style="height: 200px;">
            <footer class="footer-distributed">
    
                <div class="footer-left">
                    <div class="logo_footer" style="border-right: 1px solid #385c58;"><img src="../static/media/logo.png" alt=""style="height: 380px;
                        margin: -140px -50px;">
                    <p>LocAid &copy; 2020</p>
                    </div>
                    <div class="page_count" style="border-right: 1px solid #385c58;">
                        <h1 style="margin-bottom: 5px;">Total Views</h1><span id="viewcount" style="border: 1px solid white;"></span>
                    </div>
                    <div class="contact_form">
                       <div class="foot_left">
                           <h1>Contact Us:</h1><br>
                           <span> Email:   Locaidindia@gmail.com </span><br>
                           <!-- <span> Office Address: Pilani, Rajasthan -->
                            </span>
                            <div class="footer-social">
                            <ul>
                              <li>
                                <a href="https://www.facebook.com/covid19.locaid/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="50" alt="Like us on Facebook" src="../static/media/facebook.png">
                                </a>
                              </li>
                              <li>
                                <a target="_blank" href="http://instagram.com/covid19.locaid/">
                                  <img width="50" alt="Follow us on Instagram" src="../static/media/instagram.png">
                                </a>
                              </li>
                              <li>
                                <a href="https://www.twitter.com/loc_aid" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="50" alt="Follow us on Twitter" src="../static/media/twitter.png">
                                </a>
                              </li>
                            </ul>
                          </div>
                       </div>
                    </div>
                    
                </div>
    
            </footer>
        </div>
    </body>
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script> -->
    <script src="../static/js/covid.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/news_data.js"></script>
</html>
