<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>#FIGHTCOVID-19</title>
        <link rel="stylesheet" href="../static/css/covid.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <link rel="stylesheet" href="../static/css/sources.css">
        <link rel="stylesheet" href="../static/css/header.css">
        <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Iceland&display=swap" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <!--=========================header========================================-->
        <div class="loader-wrapper">
            <img src="../static/media/load_new.gif" />
        </div>
        
        
        <div class="nav header" id="myHeader">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <img src="../static/media/logo.png" alt="">
            </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links heads">
                <div class="head"><a href="../index.html" >Home</a></div>
                <div class="head" id="newsyo" style="display: none;"><a href="news.html">News</a></div>
                <div class="head"><a href="helpline.html" >Helpline</a></div>
                <div class="head"><a href="facts.html" >Awareness</a></div>
                <div class="head"><a href="faq.html" >FAQs</a></div>
                <div class="head"><a href="sources.html" >Sources</a></div>
              <!-- <div class="head"><a href="faq.html" >FAQ</a></div> -->
              
            </div>
          </div>
        <!-- ========================main-body==================================== -->
        <!-- <div class="qabox">
            <div class="ques">WHO ARE WE?
            </div>
            <div class="ans">
                A social enterprise comprising a bunch of enthusiasts from BITS Pilani with an aim to help the relevant organizations mobilize and organize the efforts, in order to combat diseases prevalent at a given location. We aim to combine locational technologies, increased availability and access to healthcare data to the common citizen and tourists as well, to increase the efficiency with which our societies combat diseases. Our diagnosis of the healthcare system will help with the identification of the lack of healthcare services in the areas of need. 
            </div>
            <div class="ques">WHAT EXACTLY IS locAID?
            </div>
            <div class="ans">
                locAID, is a social enterprise founded during the pandemic which it aims to combat. We believe that Epidemics in recent times have caused huge economic damage through multiple channels. Individual behavioral changes, such as fear-induced aversion to workplaces and other public gathering places, are a primary cause of negative shocks to growth during pandemics (like COVID-19). There’s a lack of centralized place where people could log on to get real time info about the spread in close proximity and also something which (in real time) could automatically notify a person if he/she is affected.            </div>
            <div class="ques">HOW IS locAID DIFFERENT FROM ANY OTHER TRACKER ONLINE?
            </div>
            <div class="ans">
                <ol>
                    <li>We have long term goals of surviving in the market and helping the localities combat locased-based diseases with greatest efficiency even in the future. So, don’t you worry, we’re always here at your call.
                    </li>
                    <li>Most of the trackers online scrape the information directly from the government website which gets updated only once in every 24 hours. The remaining few have their counts varying largely from the official data due to inaccuracy in scraping information from media channels and other sources as well, making them unreliable.</li>
                </ol>
            </div>
            <div class="ques">WHERE DO WE GATHER THE DATA FROM?
            </div>
            <div class="ans">
                We collect the details from official government links and state press releases only. Data is then validated by a group of enthusiasts and published in our internal database. After receiving validation from several levels, the data gets reflected and updated on the website at your disposal. Thereby, helping you combat the pandemic with the most accurate and reliable data.
            </div>
            <div class="ques">WHY IS IT A NON-PROFIT FIRM?
            </div>
            <div class="ans">
                We believe that the cause we cater to is more important than the worldly wealth. Further the inclusion of money as an incentive might dilute the interests of individuals working on our platform. Therefore, we are the one for you and one amongst you, working for you and to save Humanity.
            </div>
            <div class="quote">
            “Let’s join our hands together and make this world a better place to live in”

            </div>
        </div> -->
        <div class="outbox">
            <h1>Sources:</h1>
            <div class="inbox">
                <h2>1)  World Health Organization :</h2>
                    <a href="https://www.who.int/"> https://www.who.int/</a>

            <h2>2)  Ministry of Health and Family Welfare:</h2>
            <a href="https://www.mohfw.gov.in/">https://www.mohfw.gov.in/</a>

            <h2>3)  Official COVID-19 govt website :</h2>
                <a href="https://www.mygov.in/covid-19">https://www.mygov.in/covid-19</a>

            <h2>4)  Hindustan Times:</h2>
            <a href="https://www.hindustantimes.com/">https://www.hindustantimes.com/</a>
        </div>
        <div class="disclaimer">
            <h1>Disclaimer:</h1>
            <p>
                All information posted on this website is merely for educational and informational purposes. It is not intended as a substitute for professional/government advice. Should you decide to act upon any information on this website, you do so at your own risk.
                While the information on this website has been verified to the best of our abilities, we cannot guarantee that there are no mistakes or errors.
                We reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.
                </p>
        </div>
        </div>
        <!-- ========================footer======================================= -->
        <div class="footer" style="height: 200px;">
            <footer class="footer-distributed">
    
                <div class="footer-left">
                    <div class="logo_footer" style="border-right: 1px solid #385c58;"><img src="../static/media/logo.png" alt=""style="height: 380px;
                        margin: -140px -50px;">
                    <p>LocAid &copy; 2020</p>
                    </div>
                    <div class="page_count" style="border-right: 1px solid #385c58;">
                        <h1>Total Views</h1><span id="viewcount"></span>
                    </div>
                    <div class="contact_form">
                       <div class="foot_left">
                           <h1>Contact Us:</h1><br>
                           <span> Email:   Locaidindia@gmail.com </span><br>
                           <!-- <span> Office Address: Pilani, Rajasthan -->
                            </span>
                            <div class="footer-social">
                            <ul>
                              <li>
                                <a href="https://www.facebook.com/covid19.locaid/" title="Facebook" onclick="_gaq.push(['_trackSocial', 'Facebook', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="50" alt="Like us on Facebook" src="../static/media/facebook.png">
                                </a>
                              </li>
                              <li>
                                <a target="_blank" href="http://instagram.com/covid19.locaid/">
                                  <img width="50" alt="Follow us on Instagram" src="../static/media/instagram.png">
                                </a>
                              </li>
                              <li>
                                <a href="https://www.twitter.com/loc_aid" title="Twitter" onclick="_gaq.push(['_trackSocial', 'Twitter', 'Follow', 'Footer', 'undefined', 'True']);">
                                  <img width="50" alt="Follow us on Twitter" src="../static/media/twitter.png">
                                </a>
                              </li>
                            </ul>
                          </div>
                       </div>
                    </div>
                    
                </div>
    
            </footer>
        </div>
    </body>
    <script src="../static/js/covid.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/helpline.js"></script>
    <script src="../static/js/news_data.js"></script>
</html>
